body {
    background-image: url(assets/purplesquare.gif);
    background-position: center;
    background-size: tile;
    font-family: 'pokemon';
    color: rgb(64, 35, 102);
    font-size: 12px;
  }
  @font-face {
    font-family: 'VT323'; 
    src: url('/VT323-Regular.ttf'); 
  }
  @font-face {
    font-family: 'pokemon'; 
    src: url(assets/PokemonClassic.ttf); 
  }
  * { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}
  /* unvisited link */
  a:link {
    color: rgb(5, 100, 18);
  }
  
  /* visited link */
  a:visited {
    color: rgb(82, 67, 167);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;}

.layout {
  display: grid;
  width: 950px; 
  margin: auto;
  .background-color: rgb(168, 146, 221);

  padding: 10px;
  border-radius: 5px;
  grid-template-columns: [first]33% [second]64%;
  /grid-template-rows: [first]34% [SECond] 66%;
  gap: 1em;
  min-height: 1000px;
    }
.pipiimage {
  margin: auto;
  right: 100px;
  position: relative;
  /background-image: url(assets/biggreeencircle.png);
  background-repeat: no-repeat;
  background-size: 80%;

}
.sidebar{
  background-color: rgb(248, 169, 202);
  padding: 10%;
  margin-top: 20px;
  border-radius: 10px;
  border: dashed rgb(150, 89, 124) 3px;
}
header {
  padding: 2%;
  background-color: rgb(157, 206, 182);
  margin: auto;
  width: 950px;
  font-size: 45px;
  border-radius: 5px;
  border: dashed rgb(138, 160, 134) 3px;
}
.circleattempt {
  height: 600px;
  width: 600px;
  background-image: url(assets/bg_green1.gif);
  border-radius: 50%;
  display: inline-block;
  z-index: -1;
  left: 100px;
  top: 70px;
  position: absolute;
  border: dashed rgb(158, 187, 153) 3px;
}